.App {
  background-color: #282c34;
  padding         : 30px;
  display         : flex;
}

.App>div {
  margin-right: 50px;
  margin-bottom: 500px;
}

/* background-color: #282c34; */
/* color: #61dafb; */